<a href="https://colab.research.google.com/github/billymorgen/prosaindata/blob/main/prosaindata_tugas3_200411100057.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pyodbc
import pandas as pd
import psycopg2
import mysql.connector
import numpy as np

connpg = psycopg2.connect(
    database="prosain200411100057",
    user="postgres",
    password="123",
    host="0.tcp.ap.ngrok.io",
    port="19368"
)

curpg = connpg.cursor()

curpg.execute("SELECT sepallegth_057 FROM public.B057_irisdata ORDER BY id")

sl = curpg.fetchall()

sl=pd.DataFrame(sl,columns=['SepalLength'])

# print(sl)

connelp = psycopg2.connect(
    database="uxdvztyn",
    user="uxdvztyn",
    password="9sw2SFybuVuHo8p1TSeAsPdxZN_aEaxL",
    host="floppy.db.elephantsql.com",
    port="5432"
)

curelp = connelp.cursor()

curelp.execute("SELECT sepalwidth_057 FROM b057_irisdata ORDER BY id")

sw = curelp.fetchall()

sw=pd.DataFrame(sw,columns=['SepalWidth'])

# print(sw)

connmy = mysql.connector.connect(
    host="0.tcp.ap.ngrok.io",
    port="17360",
    user="root",
    password="",
    database="prosain2004111000057"
)

mycursor = connmy.cursor()

mycursor.execute("SELECT PetalLength_057 FROM 057_irisdata ORDER BY id;")

myresult = mycursor.fetchall()

pl = pd.DataFrame(myresult, columns=['PetalLength',])
# print(pl)

# 

cnxn = pyodbc.connect(r'Driver=ODBC Driver 17 for SQL Server;Server=DESKTOP-6A3115C;Database=sainsdata_057;Trusted_Connection=yes;')  
cursor = cnxn.cursor()


querypw = "SELECT PetalWidth FROM iris ORDER BY id"
querycl = "SELECT Class FROM iris ORDER BY id"

cursor.execute(querypw)
pw = cursor.fetchall()
cursor.execute(querycl)
cl = cursor.fetchall()

np_pw = np.array(pw)
np_cl = np.array(cl)

np_pwcls = np.concatenate((np_pw, cl), axis=1)

pwcls = pd.DataFrame(np_pwcls, columns=['PetalWidth', 'Class'])
pwcls.to_csv("pwcls.csv")
df_iris=pd.concat([sl,sw,pl,pwcls],axis=1)

print(df_iris.isna().sum())